@media (min-width: 769px){
    *{
        background-color: blue;
    }
    h1{
        text-align: center;
        color: pink;
        font-size: 200px;
    }
    .a{
        visibility: hidden;
    }
}
@media (max-width: 768px){
    *{
        margin: 0px;
    }
    .laptop{
        visibility: hidden;
    }
    .aa img{
        color: pink;
        width: 200px;
        height: 200px;
        display: flex;
        margin: 0 auto;
    }
    .aa h1{
        color: pink;
        text-align: center;
        font-size: 40px;
    }
}
