@media (max-width: 999px){
    *{
        background-color: blue;
    }
    h1{
        text-align: center;
        color: pink;
        font-size: 80px;
    }
    .aa{
        visibility: hidden;
    }
}
@media (min-width: 1000px){
    *{
        margin: 0px;
    }
    .laptop{
        visibility: hidden;
    }
    .aa img{
        color: pink;
        width: 500px;
        height: 500px;
        display: flex;
        margin: 0 auto;
    }
    .aa h1{
        color: pink;
        text-align: center;
        font-size: 80px;
    }
}
