@media (min-width: 769px){
    *{
        background-color: blue;
    }
    h1{
        text-align: center;
        color: pink;
        font-size: 200px;
    }
    .a{
        visibility: hidden;
    }
}
@media (max-width: 768px){
    *{
        margin: 0px;
        background-image:url(Valentine.jpg) ;
        background-position-x: center;
        background-position-y: 1vh;
        background-repeat: no-repeat;
        background-size: 60%;
        background-color: transparent;
    }
    .laptop{
        visibility: hidden;
    }
    .a{
        color: pink;
        text-align: center;
        position: relative;
        top: 50vh;
        font-size: 40px;
    }
}